# this config is for optimizing couplings for the space pair selection
# to be used with optimize_couplings.py

# for running on falken-2
spaces_absdir               "data/vectors1929-init-tc1-t3/"
out_absdir                  "outputs/exploring_gwot/"
visuals_absdir              "visuals/exploring_gwot/"
freq_file_abspath           "data/decFreq1929.tsv"


distribs_range            ["uniform", "custom"]

# parameters passed to the GWOT object
size                      2000
share_vocs                False

metric                    "cosine"
normalize_vecs            "both"
normalize_dists           "both"
score_type                "coupling"
adjust                    None

# parameters to be passed to the optimizer
opt_loss_fun              "square_loss"
opt_entropic              True
opt_entreg                5e-4
opt_tol                   1e-9
opt_round_g               False

# parameters for calling fit()
fit_maxiter               300
fit_print_every           10
fit_verbose               True
# don't plot --> very high numbers/None
fit_plot_every            100000
fit_save_plots            None
