# this config is for making large couplings (>5K)
# don't use frequency information; it's bad for larger couplings.
# to be used with optimize_couplings.py

# size, src_year, and trg_year will be passed as command line arguments

#spaces_absdir              "data/vectors1929-init-tc1-t3/"
#freq_file_abspath          "data/decFreq1929.tsv"
#out_absdir                 "outputs/large_couplings/"
#visuals_absdir             "visuals/large_couplings/"

spaces_absdir               "data/vectors1929-noalign-tc0-t3/"
freq_file_abspath           "data/decFreq1929.tsv"
out_absdir                  "outputs/large_couplings_noalign/"
visuals_absdir              "visuals/large_couplings_noalign/"


#space_pairs                [(1740,1770), (1860,1890)]


size                       20000

# parameters passed to the GWOT object
metric                    "cosine"
normalize_vecs            "both"
normalize_dists           "mean"
score_type                "coupling"
adjust                    None
distribs                  "uniform"
share_vocs                False

# parameters to be passed to the optimizer
opt_loss_fun              "square_loss"
opt_entropic              True
opt_entreg                5e-4
opt_tol                   1e-9
opt_round_g               False

# parameters for calling fit()
fit_maxiter               300
fit_print_every           1
fit_verbose               True
# don't plot --> very high numbers/None
fit_plot_every            100000
fit_save_plots            None
